.cashback-section {
  padding: 90px 0 60px 0;

  @include max-width($phone) {
    padding: 30px 0;
  }
}

// .cashback-wrapper {}

.cashback-subtitle {
  margin: 0 0 40px 0;
  font-weight: bold;
  font-size: 3.75rem;
  line-height: 3.75rem;

  @include max-width($phone) {
    margin: 0 0 20px 0;
    font-size: 24px;
    line-height: 24px;
  }
}

.cashback-title {
  margin: 0 0 60px 0;
  font-weight: bold;
  font-size: 5rem;
  line-height: 5rem;

  @include max-width($phone) {
    margin: 0 0 30px 0;
    font-size: 32px;
    line-height: 32px;
  }

  b {
    display: block;
    color: $violet;
  }
}

.cashback-button {
  position: relative;
  margin: 0 0 40px 0;
  padding: 15px 30px;
  width: 240px;
  justify-content: flex-start;
  font-weight: bold;
  font-size: 60px;
  line-height: 70px;
  color: $white;
  border-radius: 32px;

  @include max-width($phone) {
    margin: 0 0 20px 0;
    padding: 8px 20px;
    width: 134px;
    font-size: 32px;
    line-height: 38px;
    border-radius: 16px;
  }

  img {
    position: absolute;
    right: 30px;
    margin: 0 0 0 15px;
    height: 50px;
    min-height: 50px;
    width: 50px;
    min-width: 50px;

    @include max-width($phone) {
      right: 20px;
      height: 24px;
      min-height: 24px;
      width: 24px;
      min-width: 24px;
    }
  }
}

.cashback-text {
  font-family: $sf;
  max-width: 720px;
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.4;

  @include max-width($phone) {
    font-size: 20px;
    line-height: 1.2;
  }

  b {
    position: relative;
    display: inline-flex;
    color: $violet;
    white-space: nowrap;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 3px;
      background-color: $violet;
      border-radius: 2px;

      @include max-width($phone) {
        height: 2px;
        border-radius: 1px;
      }
    }
  }
}
