// .faq-section {}

// .faq-wrapper {}

.faq-title {
  margin: 0 0 60px 0;
  font-weight: bold;
  font-size: 5rem;
  line-height: 5rem;

  @include max-width($phone) {
    margin: 0 0 30px 0;
    font-size: 32px;
    line-height: 32px;
  }

  b {
    display: block;
    color: $orange;
  }
}

.faq-list {
  display: flex;
  flex-direction: column;
}

.faq-item {
  display: flex;
  flex-direction: column;

  &:not(:last-child) {
    border-bottom: 1px solid #f1f1f4;
  }

  &.active {
    .faq-item-button__icon {
      transform: rotate(0);
    }
  }

  &--no-cursor {
    .faq-item-button {
      cursor: auto;
    }
  }
}

.faq-item-social-wrapper {
  @include max-width($phone) {
    width: 100%;
  }
}

.faq-item-social {
  margin: 0 5px;
  width: 30px;
  min-width: 30px;
  height: 30px;
  min-height: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: rgba($orange, 0.5);
  border-radius: 50%;
  transition: background-color 0.3s;

  &:hover {
    background-color: darken(rgba($orange, 0.5), 10%);
  }

  &__svg {
    width: 15px;
    min-width: 15px;
    height: 15px;
    min-height: 15px;
  }

  &--mail {
    background-color: rgba($yellow, 0.5);

    &:hover {
      background-color: darken(rgba($yellow, 0.5), 10%);
    }
  }

  &--telegram {
    background-color: rgba(#4c9ad7, 0.4);

    &:hover {
      background-color: darken(rgba(#4c9ad7, 0.4), 10%);
    }
  }

  &--whatsapp {
    background-color: rgba(#6fd866, 0.3);

    &:hover {
      background-color: darken(rgba(#6fd866, 0.3), 10%);
    }

    .faq-item-social__svg {
      width: 18px;
      min-width: 18px;
      height: 18px;
      min-height: 18px;
    }
  }

  &--instagram {
    background-color: rgba(#f4c1d5, 1);

    &:hover {
      background-color: darken(rgba(#f4c1d5, 1), 10%);
    }
  }

  &--facebook {
    background-color: rgba(#c0cdef, 1);

    &:hover {
      background-color: darken(rgba(#c0cdef, 1), 10%);
    }
  }
}

.faq-item-button {
  padding: 30px 0 20px 0;
  cursor: pointer;

  @include max-width($phone) {
    padding: 15px 0;
  }

  &__wrapper {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }

  &__text {
    font-weight: bold;
    font-size: 1.75rem;
    line-height: 1.3;

    @include max-width($phone) {
      font-size: 18px;
      line-height: 1.2;
    }
  }

  &__icon {
    margin: 0 0 0 20px;
    height: 12px;
    min-height: 12px;
    width: 20px;
    min-width: 20px;
    transition: transform ease 0.3s;
    transform: rotate(-180deg);

    @include max-width($phone) {
      height: 8px;
      min-height: 8px;
      width: 14px;
      min-width: 14px;
    }
  }
}

.faq-item-list {
  max-height: 0;
  overflow: hidden;
  transition: max-height ease 0.3s;

  &__wrapper {
    padding: 0 0 30px 0;
    max-width: 830px;

    @include max-width($phone) {
      padding: 0 0 15px 0;
    }
  }

  p {
    font-size: 1.25rem;
    line-height: 1.6;

    @include max-width($phone) {
      font-size: 14px;
    }

    &:not(:last-child) {
      margin: 0 0 30px 0;

      @include max-width($phone) {
        margin: 0 0 20px 0;
      }
    }
  }
}
