.hero-section {
  position: relative;
  overflow: hidden;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../img/hero_bg-1.png);
    background-position: center bottom;
    background-size: auto;
    background-repeat: no-repeat;
  }
}

.hero-wrapper {
  padding: 0 0 60px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-content {
  position: relative;
  max-width: 720px;
  z-index: 1;

  &__title {
    margin: 0 0 30px 0;
    font-weight: bold;
    font-size: 5.625rem;
    line-height: 5.625rem;
    color: $black-text;

    @include max-width($touch) {
      margin: 0 0 20px 0;
      font-size: 5rem;
      line-height: 5rem;

      br {
        display: none;
      }
    }

    @include max-width($phone) {
      font-size: 36px;
      line-height: 40px;
    }

    b {
      background: $gradient-rainbow;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      white-space: nowrap;
    }
  }

  &__text {
    font-family: $sf;
    font-weight: 600;
    font-size: 1.7rem;
    line-height: 1.4;
    color: $black-text;

    @include max-width($phone) {
      font-size: 20px;
      line-height: 26px;
    }
  }

  .button {
    margin: 60px 0 0 0;

    @include max-width($phone) {
      margin: 30px 0 0 0;
    }
  }
}

.hero-image {
  position: relative;
  max-width: 280px;
  z-index: 1;

  @include max-width($phone) {
    display: none;
  }
}
