.if-fire-section {
  padding: 90px 0;

  @include max-width($phone) {
    padding: 30px 0;
  }
}

// .if-fire-wrapper {}

.if-fire-image {
  margin: 0 0 40px 0;
  width: 120px;
  max-width: 120px;
  height: 120px;
  max-height: 120px;

  @include max-width($phone) {
    margin: 0 0 20px 0;
    width: 70px;
    max-width: 70px;
    height: 70px;
    max-height: 70px;
  }

  svg,
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.if-fire-title {
  margin: 0;
  font-weight: bold;
  font-size: 5rem;
  line-height: 5rem;
  color: $black-text;

  @include max-width($phone) {
    font-size: 32px;
    line-height: 32px;
  }
}

.if-fire-strings {
  font-weight: bold;
  font-size: 5rem;
  line-height: 5rem;
  color: $red;

  @include max-width($phone) {
    font-size: 32px;
    line-height: 32px;
  }
}

.typed-cursor {
  font-weight: 300;
  font-size: 4.5rem;
  line-height: 4.5rem;
  color: $red;

  @include max-width($phone) {
    font-size: 28px;
    line-height: 28px;
  }
}
