$fonts-path: '../fonts/';
$sf-path: $fonts-path + 'SFProDisplay/';
$sfr-path: $fonts-path + 'SFProRounded/';

// Fonts
$sf: 'SFProDisplay';
$sfr: 'SFProRounded';
$arial: 'Arial';

/* stylelint-disable scss/operator-no-unspaced */

// SFProDisplay
@font-face {
  font-family: $sf;
  font-style: normal;
  font-weight: 300;
  src: url($sf-path+'SFProDisplay-Light.woff');
  src: local('SFProDisplay-Light'), local('SFProDisplay-Light'), url($sf-path+'SFProDisplay-Light.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: $sf;
  font-style: normal;
  font-weight: normal;
  src: url($sf-path+'SFProDisplay-Regular.woff');
  src: local('SFProDisplay-Regular'), local('SFProDisplay-Regular'),
    url($sf-path+'SFProDisplay-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: $sf;
  font-style: normal;
  font-weight: 500;
  src: url($sf-path+'SFProDisplay-Medium.woff');
  src: local('SFProDisplay-Medium'), local('SFProDisplay-Medium'),
    url($sf-path+'SFProDisplay-Medium.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: $sf;
  font-style: normal;
  font-weight: 600;
  src: url($sf-path+'SFProDisplay-SemiBold.woff');
  src: local('SFProDisplay-SemiBold'), local('SFProDisplay-SemiBold'),
    url($sf-path+'SFProDisplay-SemiBold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: $sf;
  font-style: normal;
  font-weight: bold;
  src: url($sf-path+'SFProDisplay-Bold.woff');
  src: local('SFProDisplay-Bold'), local('SFProDisplay-Bold'), url($sf-path+'SFProDisplay-Bold.woff') format('woff');
  font-display: swap;
}

// SFProRounded

@font-face {
  font-family: $sfr;
  font-style: normal;
  font-weight: normal;
  src: url($sfr-path+'SF-Pro-Rounded-Regular.woff');
  src: local('SF-Pro-Rounded-Regular'), url($sfr-path+'SF-Pro-Rounded-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: $sfr;
  font-style: normal;
  font-weight: bold;
  src: url($sfr-path+'SF-Pro-Rounded-Bold.woff');
  src: local('SF-Pro-Rounded-Bold'), url($sfr-path+'SF-Pro-Rounded-Bold.woff') format('woff');
  font-display: swap;
}
