* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: $container-max-width;
  padding: $container-padding;
  margin: 0 auto;
}

section {
  padding: $section-padding;

  @include max-width($tablet) {
    padding: $section-padding-tablet;
  }

  @include max-width($phone) {
    padding: $section-padding-phone;
  }
}

a {
  text-decoration: none;
  cursor: pointer;
}

.list-icon {
  position: relative;
  display: flex;
  width: 70px;
  min-width: 70px;
  height: 70px;
  min-height: 70px;
  align-items: center;
  justify-content: center;
  background-color: $blue;
  border-radius: 24px;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    left: 48px;
    bottom: 48px;
    width: 70px;
    min-width: 70px;
    height: 70px;
    min-height: 70px;
    background-color: rgba($white, 0.3);
    transform: rotate(45deg);
  }

  &::after {
    content: '';
    position: absolute;
    left: 45px;
    bottom: 45px;
    width: 70px;
    min-width: 70px;
    height: 70px;
    min-height: 70px;
    background-color: rgba($white, 0.3);
    border-radius: 24px;
  }

  &__number {
    position: relative;
    font-weight: bold;
    font-size: 2.5rem;
    color: $white;
    z-index: 1;
  }
}
