.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: block;
  width: 100%;
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 0;
  white-space: nowrap;
  visibility: hidden;
  background-color: black;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.4s;

  @include max-width($touch) {
    padding: 25px 10px;
  }

  &::before {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    content: '';
  }

  &.active {
    visibility: visible;
    opacity: 1;
    .modal {
      opacity: 1;
      transform: scale(1);
    }
  }
  .modal {
    position: relative;
    z-index: 11;
    display: inline-block;
    min-width: 100%;
    width: 100%;
    min-height: 100%;
    white-space: normal;
    vertical-align: middle;
    background-color: #fff;
    opacity: 0;
    transition: opacity 0.4s, transform 0.4s;
    transform: scale(0.6);

    @include max-width($touch) {
      border-radius: 32px;
    }
  }
}

.modal-content {
  padding: 155px 0 175px 0;

  @include max-width($touch) {
    padding: 70px 0 60px 0;
  }
}

.modal-title {
  margin: 0 0 70px 0;
  font-weight: bold;
  font-size: 90px;
  line-height: 90px;
  color: #222222;

  @include max-width($touch) {
    margin: 0 0 25px 0;
    max-width: 300px;
    font-size: 36px;
    line-height: 40px;
  }

  br {
    display: none;

    @include max-width($touch) {
      display: block;
    }
  }
}

.modal-counter {
  margin: 0 0 70px 0;
  display: inline-block;
  font-weight: bold;
  font-size: 90px;
  line-height: 90px;
  background: linear-gradient(109.61deg, #48c9ff 2.51%, #8461f7 45.91%, #ff8a71 91.16%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  @include max-width($touch) {
    margin: 0 0 25px 0;
    font-size: 36px;
    line-height: 40px;
  }
}

.modal-button {
  height: 80px;
  width: 420px;
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  color: #ffffff;
  border-radius: 24px;

  @include max-width($touch) {
    padding: 15px;
    height: 54px;
    width: 100%;
    max-width: 400px;
    font-size: 20px;
    line-height: 24px;
    border-radius: 16px;
    background-size: 100% auto;
  }

  @include max-width($phone) {
    padding: 15px;
    height: 54px;
    width: 100%;
    max-width: 400px;
    font-size: 20px;
    line-height: 24px;
    border-radius: 16px;
    background-size: 100% auto;
  }
}
