.footer {
  position: relative;
  padding: 20px 0 60px 0;
  overflow: hidden;
  background-image: url(../img/footer_bg-1.svg);
  background-position: center bottom;
  background-repeat: no-repeat;

  @include max-width($touch) {
    padding: 20px 0 40px 0;
    background-image: url(../img/footer_bg-2.svg);
    background-size: contain;
  }

  .social {
    margin: 0 0 60px 0;

    @include max-width($touch) {
      margin: 0 0 40px 0;
    }
  }

  .copyright {
    margin: 60px 0 0 0;

    @include max-width($touch) {
      margin: 30px 0 0 0;
    }
  }
}

.footer-wrap {
  position: relative;
  z-index: 1;
}

.footer-text {
  margin: 0 0 60px 0;
  font-weight: bold;
  font-size: 3.75rem;
  line-height: 3.75rem;
  color: $black-text;

  @include max-width($phone) {
    margin: 0 0 30px 0;
    font-size: 28px;
    line-height: 28px;
  }

  b {
    display: block;
    color: $orange;
  }
}

.footer-phone {
  margin: 0 0 60px 0;
  display: inline-block;
  font-weight: bold;
  font-size: 3.75rem;
  color: $black-text;
  transition: color ease 0.3s;

  @include max-width($phone) {
    margin: 0 0 30px 0;
    font-size: 28px;
    line-height: 28px;
  }

  &:hover {
    color: $dark-gray;
  }
}

.social {
  display: flex;

  @include max-width(980px) {
    justify-content: space-between;
  }
}

.social-icon {
  width: 140px;
  min-width: 140px;
  height: 140px;
  min-height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $yellow;
  border-radius: 32px;
  transition: transform 0.1s, box-shadow 0.1s;
  box-shadow: 0 30px 30px -10px rgba(34, 34, 34, 0.1);

  @include max-width(980px) {
    width: 46px;
    min-width: 46px;
    height: 46px;
    min-height: 46px;
    border-radius: 14px;
    box-shadow: none;
  }

  &:not(:last-child) {
    margin: 0 70px 0 0;

    @include max-width(1100px) {
      margin: 0 40px 0 0;
    }

    @include max-width(980px) {
      margin: 0;
    }
  }

  @include min-width(980px) {
    &:hover {
      box-shadow: 0 40px 30px -10px rgba(34, 34, 34, 0.1);
      transform: translateY(-10px);
    }
  }

  &__svg {
    width: 64px;
    min-width: 64px;
    height: 64px;
    min-height: 64px;
    transition: transform ease 0.3s;

    @include max-width(980px) {
      width: 20px;
      min-width: 20px;
      height: 20px;
      min-height: 20px;
    }
  }

  &--mail {
    background-color: rgba($yellow, 0.5);

    .social-icon__svg {
      width: 70px;
      min-width: 70px;
      height: 70px;
      min-height: 70px;

      @include max-width(980px) {
        width: 24px;
        min-width: 24px;
        height: 24px;
        min-height: 24px;
      }
    }
  }

  &--telegram {
    background-color: rgba(#4c9ad7, 0.4);
  }

  &--whatsapp {
    background-color: rgba(#6fd866, 0.3);

    .social-icon__svg {
      width: 77px;
      min-width: 77px;
      height: 77px;
      min-height: 77px;

      @include max-width(980px) {
        width: 24px;
        min-width: 24px;
        height: 24px;
        min-height: 24px;
      }
    }
  }

  &--instagram {
    background-color: rgba(#f4c1d5, 1);
  }

  &--facebook {
    background-color: rgba(#c0cdef, 1);
  }
}

.copyright {
  font-family: $sf;
  font-size: 1rem;
  line-height: 28px;
  color: $dark-gray;

  @include min-width($phone) {
    br {
      display: none;
    }
  }

  @include max-width($phone) {
    font-size: 12px;
    line-height: 18px;

    p:not(:last-child) {
      margin: 0 0 20px 0;
    }
  }
}
