.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px 0;
  background: transparent;
  z-index: 5;
  transition: top 0.2s;

  &.fixed {
    @include min-width(900px) {
      background: $white;
      padding: 0;
      top: -100px;
    }
  }
}

.header-top {
  &__wrapper {
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    @include max-width($touch) {
      padding: 10px 0;
    }
  }

  .hamburger {
    margin-left: 20px;
  }
}

.header-bottom {
  padding: 20px 0;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;

  @include max-width($touch) {
    display: none;
  }

  .nav--second {
    margin: 0 0 0 20px;
  }
}

.logo {
  display: block;
  height: 60px;

  @include max-width($touch) {
    height: 35px;
  }

  &__img {
    display: block;
    width: auto;
    height: 100%;
  }
}

.hamburger {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40px;
  min-width: 40px;
  padding: 10px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;

  &:hover,
  &.active {
    .hamburger__item {
      background-color: $green;
    }
  }

  &__item {
    display: block;
    width: 20px;
    height: 3px;
    margin: 1.5px 0;
    background-color: $black;
    border-radius: 1.5px;
    transition: background-color 0.3s;
  }

  @include min-width($touch) {
    display: none;
  }
}
