.nav {
  margin: 0 -15px;
  display: inline-flex;
  align-items: baseline;

  @include max-width($touch) {
    margin: 0 -5px;
  }

  &--second .nav-link {
    color: $dark-gray;

    &:hover,
    &.selected {
      color: $black-text;
    }
  }

  &--sm {
    margin: 0;
    width: 100%;
    columns: 2;

    @include max-width($phone) {
      flex-direction: column;
    }

    .nav-col {
      margin: -6px;
      min-width: calc(210px + 12px);
      display: flex;
      flex-direction: column;

      @include max-width($phone) {
        margin: 0 -6px;
      }
    }

    .nav-link {
      margin: 6px;
      font-weight: 600;
      font-size: 1rem;
      line-height: 20px;

      @include max-width($phone) {
        margin: 5px;
        font-size: 14px;
      }
    }
  }
}

.nav-link {
  font-family: $sf;
  margin: 0 15px;
  font-family: $sf;
  font-weight: bold;
  font-size: 1.375rem;
  line-height: 30px;
  color: $black-text;
  transition: color.3s;

  @include max-width($touch) {
    margin: 0 5px;
  }

  &:hover,
  &.selected {
    color: $dark-gray;
  }
}
